ui/
.idea/
__pycache__/
byhy.py
data/cfg.json
cfg_test.json
connector_server.py
eat.py
get_pip.py
main.py
main_02.py
socket_test.py
temp_replace.py
test.py
watermalen.py
Dialog_test.py
shape_dialog.py
dialog_test_2.py
build/
dist/


